@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2em;
    color: #353535;
    pointer-events: none;
    margin-right: 270px;
}

.navigation a {
    text-decoration: none;
    color: #359381;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background: #359381;
    color: #f9f9f9;
}

.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

#text, #text2 {
    position: absolute;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-top: -20px;
}

.parallax img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
    transition: all 0.1s ease;
}

.sec {
    position: relative;
    background: #003329;
    padding: 100px;
    color: white;
}

.sec h2 {
    font-size: 3em;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1.1em;
    font-weight: 300;
    margin-top: 10px;
}

.weave-button {
    position: relative;
    margin-top: 250px;
    padding: 15px 30px;
    font-size: 1.2em;
    background-color: #359381;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;  
}

.weave-button:hover {
    background-color: #2a6d56;
    transform: translateY(-3px);
}

/* Responsiveness */
@media (max-width: 768px) {
    .logo {
        margin-right: 20px;
    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navigation a {
        margin: 10px 0;
    }

    #text {
        font-size: 3em;
    }

    .sec {
        padding: 60px;
    }
}
